@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Roboto&display=swap');
body {
    text-decoration: none;
    text-align: center;
    background-color: #16071a;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    overflow-x: hidden;
}
a {
    text-decoration: none;
}


nav{
    width: calc(100% + 30px);
    height: 100px;
    background-color: #200b26;
    margin-top: -10px;
    margin-left: -10px;
}
.navigation{
    display: flex;
    justify-content: center;
}
.bar{
    display: flex;
}
.tab{
    display: inline-block;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    margin-top: 48px;
    margin-left: 10px;
    font-size: 75%;
}
.logo{
    display: inline-block;
    width: 115px;
    height: 60px;
    border: 1px none black;
    background-image: url(pics/shap-logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 12.5px;
    margin-right: 40px;
}
summary::-webkit-details-marker {
    display: none;
}
summary {
    display: flex;
    border: 1px none black;
}
details :focus {
    outline: 0;
}
.lang {
    width: 75px;
    border: 2px solid #3e2146;
    border-radius: 3px;
    margin-top: 32px;
    margin-left: 40px;
}
.flag {
    width: 30px;
    height: 20px;
    border: 1px none black;
    cursor: pointer;
    background-image: url(pics/flag.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 10px;
    margin-left: 8px;
    margin-bottom: 5px;
}
.eng {
    width: 30px;
    height: 20px;
    border: 1px none black;
    background-image: url(pics/eng.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;        
    margin: auto;
    margin-top: 5px;
    margin-left: 8px;
    margin-bottom: 5px;
}
.strelka {
    width: 19px;
    height: 11px;
    border: 1px none black;
    background: url(pics/strelka.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    margin: auto;
}
.contacts{
    width: 120px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 45px;

}
.notifications{
    width: 25px;
    height: 25px;
    border: 1px none black;
    background-image: url(pics/notifications.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
.twitter{
    width: 25px;
    height: 25px;
    border: 1px none black;
    background-image: url(pics/twitter.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.vk{
    width: 25px;
    height: 25px;
    border: 1px none black;
    background-image: url(pics/vk.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.steam {
    width: 230px;
    height: 60px;
    display: flex;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    border: 1px none black;
    border-radius: 5px;
    background-color: #6b4476;
    text-align: left;
    margin-top: 20px;
    margin-left: 65px;
}
.steam:hover {
    background-color: #b375c5;
}
.steam:visited {
    text-decoration: none;
}
.steamlogo{
    width: 45px;
    height: 45px;
    border: 1px none black;
    background-image: url(pics/steamlogo.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 8px;
    margin-left: 20px;
}
.enter {
    margin-left: 30px;
}
.cherez{
    text-decoration: none;
    margin-top: 10px;
}
.steamh1{
    text-decoration: none;
    margin-top: -15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 115%;
}
.icon {
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 1px none black;
    margin-top: 35px;
    margin-left: 25px;
}
.n1{
    background-image: url(pics/house.png);
}
.n2{
    background-image: url(pics/story.png);
}
.n3{
    background-image: url(pics/help.png);
}

main{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 200px;
} 

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color: #29162e;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #3e2146;
    border: 1px solid #29162e;
    border-radius: 3px;
}


.ava {
    margin-top: 17.5px;
    width: 30px;
    height: 30px;
    border: 1px none black;
    border-radius: 2px;
    background-color: grey;
    background-size: cover;
    background-repeat: no-repeat;
}
.a1{
    background-image: url(pics/a1.png);
}

.chat {
    width: 220px;
    height: 800px;
    border: 1px none black;
    background-color: #250c2b;
    border-radius: 3px;
    margin-left: 15px;
 }
 .messages{
    width: 215px;
    height: 620px;
    display: flex;
    justify-self: start;
    flex-direction: column;
    overflow-y: scroll;
    display: inline-block;
 }
 .message {
    width: 210px;
    max-width: 210px;
    display: flex;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 25px;
 }
 .content {
    width: 160px;
    text-align: left;
    margin-left: 5px;
    padding: 0%;
    display: flex;
    justify-content: center;
    flex-direction: column;
 }
.z{
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
 }
.up {
    width: 160px;
    height: 30px;
    max-height: 30px;
    padding: 0px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
 }
.name {
    font-family: 'Open Sans', sans-serif;
    margin-top: 9px;

    color: #ffffff;
    font-size: 80%;
}
.time {
    font-size: 75%;
    color: #413047;

}
.what {
    padding: 0px;
    text-align: left;
    margin-top: -15px;
    font-size: 85%;
    color: #55325f;
}
.w1{
    margin-top: -5px;
}
.a8{
    background-image: url(pics/a8.png);
}
.a9{
    background-image: url(pics/a9.png);
}
.a10{
    background-image: url(pics/a10.png);
}
.a11{
    background-image: url(pics/a11.png);
}
.send {
    width: 180px;
    height: 75px;
    margin-top: 25px;
    margin-left: -15px;
    border: 1px none black;
    background-color: #16071a;
    border-radius: 5px;
    color: #8a5c97; 
    padding-left: 15px;
    font-size: 95%;
}
.chatbottom {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 0px;
    margin-top: 25px;
    flex-direction: row;
}
.smile {
    width: 21px;
    height: 21px;
    border: 1px none black;
    margin-top: 5px;
    margin-right: 10px;
    background-repeat: no-repeat;
}
.online {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.otpravit {
    width: 120px;
    height: 32.5px;
    padding-top: 7.5px;
    border: 1px none black;
    border-radius: 3px;
    background-color: #6b4476;
    font-family: 'Open Sans', sans-serif;  
}
.otpravit:hover {
    background-color: #b375c5;
}
.ww{
    color: white;
    margin-top: 50px;
}
.f1 {
    background-image: url(pics/face1.png);
}
.f2 {
    background-image: url(pics/face2.png);
}
.peops {
    color: #514156;
    font-size: 55%;
    margin-top: 2px;
    margin-left: -10px;
    padding: 0px;
}
input:focus {
    outline: 0;
}

.items {
    width: 920px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
}
.title {
    text-align: left;
    color: #514156;
}
.story {
    font-family: 'Open Sans', sans-serif;
    color: #845990;
    margin: 0px
}
.helper-v1 {
    margin-top: 15px;
}
.events {
    width: 910px;
    height: 645px;
    display: flex;
    overflow-y: scroll;
    justify-content: center;
    flex-direction: column;
}
.events::-webkit-scrollbar-track {
    margin-top: 15px;
}
.row {
    max-width: 900px;
    display: flex;
    justify-self: space-between;
    flex-direction: row;
}
.block {
    width: 170px;
    height: 200px;
    border: 1px none black;
    border-radius: 5px;
    text-align: center;
    background-color: #37143f;
    margin-top: 15px;
    margin-right: 9.7px;

}
.id {
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 35px;
}
.factor {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    max-width: 55px;
    padding-top: 12px;
    padding-left: 25px;
    padding-bottom: 12px;
    padding-right: 25px;
    margin-left: 30px;
    border: 2px solid white;
    border-radius: 3px;
}
.data {
    font-size: 75%;
    color: #57465c;
}
.times {
    margin-top: -10px;
    font-size: 75%;
    color: #57465c;
}
.more {
    width: 890px;
}
.lmore {
    width: 200px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 85%;
    text-align: center;
    color: #ffffff;
    border: 1px none black;
    border-radius: 4px;
    background-color: #6b4476;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-left: -100px;
    padding-bottom: 10px;
    padding-right: -100px;
}
.lmore:hover {
    background-color: #b375c5;
}
.blue {
    border: 2px solid #3667a4;
}
.red {
    border: 2px solid #a43636;
}
.green {
    border: 2px solid #36a467;
}
.yellow {
    border: 2px solid #a47936;
}
.purple {
    border: 2px solid #8636a4;
}